.DS_Store
.idea
xcuserdata
xcshareddata
WorkspaceSettings.xcsettings
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*.sqlite
*.log
logs
run
.settings
.pydevproject
*~
*#
.#*
*.orig
log/
*.hmap

